#movie-card{
    border-radius: 100px;
    margin-bottom: 30px;
    transition: transform .2s;
}

#movie-card:hover{
    transform: scale(1.1);
}

#movie-title{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    font-size: 17px;
    font-family: Arial;
}

#genre-year{
    font-size: 13px;
    display: flex;
    margin-top: 5px;
}

.cast-box{
    font-size: 14px;
}

span{
    font-weight: 500;
}